<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Web beginner course</title>
</head>
<body>
  <div class="container header">
    <nav>
      <div class="logo">
        <p>Koding</p>
      </div>
      <ul>
        <li><a href="http://">Home</a></li>
        <li><a href="http://">About</a></li>
        <li><a href="http://">About</a></li>
      </ul>
    </nav>
  </div>
  <section class="container content">
    <div class="text">
      <h3>This are the topics Offered</h3>
      <ul class="topics">
        <li>Data Science</li>
        <li>Web development with django</li>
        <li>Internet of Things(IOT)</li>
        <li>Machine Learning</li>
        <li>Artificial Intelligence</li>
      </ul>
    </div>
    <div class="image">
      <img src="Dj Khaled.jpg" alt="" srcset="">
    </div>
  </section>

  <section class="container footer">
    <div class="themes">
      <h4>Read more about our tutors</h4>
    </div>
    <div class="tutors">
      <div class="tutor-one">
        <img src="Dj Khaled.jpg" alt="" srcset="">
        <p>Name: Kiprotich Duncan</p>
        <button><a href="http://">Read More</a></button>
      </div>
      <div class="tutor-one">
        <img src="Dj Khaled.jpg" alt="" srcset="">
        <p>Name: Kiprotich Duncan</p>
        <button><a href="http://">Read More</a></button>
      </div>
      <div class="tutor-one">
        <img src="Dj Khaled.jpg" alt="" srcset="">
        <p>Name: Kiprotich Duncan</p>
        <button><a href="http://">Read More</a></button>
      </div>
    </div>
  </section>
  <section class="container last">
    <h6>contact us here</h6>
    <p>You can get to us through the following lines</p>
  </section>
</body>
</html>